@import './appStyle.scss';

@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-primary: #eb1111;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 4em auto 4em;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header, main, footer {
  justify-self: center;
  display: flex;
}

.container {
  font-family: 'MyFont';
  max-width: 32em;
}

.c-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: center;
}

.c-card {
  color: var(--color-primary);
  width: 7em;
  height: 10em;
  padding: 0.5em;
}

.c-card__base {
  background-color: #eaeaea;
  width: 6em;
  height: 9em;

  transition-property: width height background-color font-size left top color
  posiiton;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.c-card__ {
  background-color: #eaeaea;
  width: 6em;
  height: 9em;

  transition-property: width height background-color font-size left top color
  posiiton;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.c-card--active-start {
  position: fixed;
  background-color: blue;
}

.c-card--active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2f2f2f;

  transition-property: width height background-color font-size left top color
  posiiton;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
