@import './appStyle.scss';

@font-face {
  font-family: 'CardFont';
  src: url('../fonts/Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-text: #343b3b;
  --color-background: #defbfb;
  --color-border: #cbf5f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  font-family: 'CardFont';
}

body {
  display: grid;
  grid-template-rows: 4em auto 4em;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  flex-direction: column;
  text-align: center;
  font-size: 0.75em;
}

header, main, footer {
  justify-self: center;
  display: flex;
  padding: 1em;
}

h1 {
  font-size: 1.5em;
}

.container {
  max-width: 32em;
}

.c-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: center;
}

.c-cards__item {
  width: 5.5em;
  height: 7.75em;
  padding: 0.5em;
}

.c-card {
  color: var(--color-text);
  background-color: var(--color-background);
  width: 4.5em;
  height: 6.75em;
  cursor: pointer;
  border-radius: 0.25em;
  border: solid 0.15em var(--color-border);

  transition-property: width height background-color font-size left top color
  posiiton;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.c-card__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-card__icon {
  width: 3.35em;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.c-card__text {
  text-align: center;
  line-height: 0;
  font-size: 2em;

  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.c-card--full {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .c-card__text {
    font-size: 16em;
  }

  .c-card__icon {
    width: 16em;
  }
}
