<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header>
      <h1>Agile Planning Poker</h1>
    </header>
    <main id="app" class="container">
    </main>
    <footer>
      <div>
        Copyright © 2020 <a href="https://harumbawa.com">Putu Harum Bawa</a>
      </div>
      <div>
        Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </footer>
  </body>
</html>
